
<div>
    <h3>Albums for: {{albums.[0].artists.[0].name}}</h3>
</div>


<div>
    {{#each albums }}
<h3>{{name}}</h3>
<img src="{{ images.[0].url}}" alt="Cover Image"/>
<a href="/albums/artistId/{{albId}}">View Tracks</a>
<p>{{release_date}}</p>
{{/each}}
</div>

<!--<a href="/albums/{{id}}">View Albums</a>

<button class="button-design">View Tracks</button>-->

<!-->
<div>
    {{#each artistName}}
<h3>Albums for: {{artistName.name}}</h3>
{{/each}}
</div>-->