<h2>Testing</h2>

<div>
    {{#each tracks}}
    <audio 
    src="{{preview_url}}">
    </audio>
    {{/each}}
</div>

<!--
<div>
    {{#each albums }}
<h3>{{name}}</h3>
<img src="{{ images.[0].url}}" alt="Cover Image"/>
<a href="/albums/artistId/{{albId}}">View Tracks</a>
<p>{{release_date}}</p>
{{/each}}
</div>-->