<h2>Track Previews</h2>

<div>
    {{#each tracks}}
    <ul> <audio id="playback" src="{{preview_url}}" type="audio/mpeg" controls></audio></ul>
    {{/each}}
</div> 

<!--
<div>
    {{#each albums }}
<h3>{{name}}</h3>
<img src="{{ images.[0].url}}" alt="Cover Image"/>
<a href="/albums/artistId/{{albId}}">View Tracks</a>
<p>{{release_date}}</p>
{{/each}}
</div>

<audio 
    src="{{preview_url}}">
    </audio>
<audio src="{{preview_url}}"></audio>
-->